
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
.container{
    
    width: 100%;
    min-height: 100vh;
    background: #fba1b7e3;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}  
.todo-app{

    width: 100%;
    max-width: 540px;
    background: #FFD1DA;
    margin-left: 30%;
    margin-top: 10%;
    padding: 90px 30px 70px;
    border-radius: 20px;
}
.todo-app h2{
    color: black;
    
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 50px;
    width: 50px;
    margin-left: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF0F5;
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    width: 85%;
    height: 45px;  
    margin-left: 30px;
    margin-top: 30px;
    /* box-shadow: 8px 8px 12px #c5c5c5,
             -6px -6px 23px #ffffff; */
    

}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    cursor: text;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    border-radius: 20px;
    height: 45px;
    width: 90px;
    font-size: medium;
    font-weight: 300;
    border-color: #FFDBAA;
    background-color: #FFDBAA;
    border-style: initial;
    box-shadow: 2px 2px 12px #c5c5c5,
             -2px -2px 8px #ffffff;
             transition: 3ms;
}
button span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    
   }
   
   button:hover {
    background-color: #fcc67b;
   }
ul li{
     list-style: none;
     font-size: 17px;
     padding: 12px 8px 12px 50px;
     user-select: none;
     cursor: pointer;
}
ul li ::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(circle.png);
    background-size: cover;
    background-position: center;
    top: 217px;
    right: 607px;

    
}
ul li.checked{
    color: black;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(correct.png);

}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: black;
    line-height:40px ;
    text-align: center;
    border-radius: 50px;
    top: 407px;
    right: 550px;
}
ul li span:hover{
    background: #fba1b7e3;
}